* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
    font-size: 9px;
    min-height: 11px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: #ebdbb2;
    color: #3c3836;
}

#workspaces button {
    padding: 0 8px;
    color: #bdae93;
    background-color: transparent;
}

#workspaces button.active {
    color: #3c3836;
    background-color: #d5c4a1;
}

#workspaces button.urgent:not(.active) {
    color: #fbf1c7;
    background-color: #cc241d;
}

#custom-activewindow,
#tray,
#clock,
#network,
#custom-docker,
#custom-corne-layer,
#custom-updates,
#custom-latency,
#custom-battery,
#backlight,
#pulseaudio,
#disk,
#custom-memory,
#cpu,
#custom-layout {
    padding: 0 8px;
    color: #504945;
    background-color: transparent;
}

#custom-battery.hidden {
    padding: 0;
    min-width: 0;
}

#custom-battery.warning:not(.charging):not(.full) {
    color: #b57614;
}

#custom-battery.critical:not(.charging):not(.full) {
    color: #cc241d;
}

#pulseaudio.muted {
    color: #928374;
}

#custom-submap {
    padding: 0;
    background-color: transparent;
}

#custom-submap.active {
    padding: 0 8px;
    color: #9d0006;
    font-weight: bold;
}
