* {
    border: none;
    border-radius: 12px;
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
    font-size: 13px;
    min-height: 22px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    /* padding: 4px 8px; */

}

#workspaces button {
    padding-left: 6px;
    padding-right: 12px;
    margin: 0 5px;
    border-radius: 12px;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#custom-docker {
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 12px;
}

#custom-docker {
    background-color: #61afef;
}

#custom-docker.off {
    background-color: #c94f68;
}

/* hyprland/window (title) */
#window{
    color: #ffffff;
}

#cpu {
    background-color: #f38ba8; /* pink/red */
}

#memory {
    background-color: #fab387; /* peach */
}

#network {
    background-color: #a6e3a1; /* green */
}

#pulseaudio {
    background-color: #89b4fa; /* blue */
}

#battery {
    background-color: #f9e2af; /* yellow */
}

#tray {
    background-color: #cba6f7; /* lavender */
}

#clock {
    background-color: #94e2d5; /* teal */
}
