* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
    font-size: 9px;
    min-height: 11px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

#workspaces button {
    padding-left: 5px;
    padding-right: 10px;
    margin: 2px 0;
    border-radius: 0;
    border: 1px solid #5b21b6;
    color: #fffafc;
    background-color: #3b0764;
}

#workspaces button.active {
    background-color: #3b0764;
    border-color: #8b5cf6;
    color: #ffffff;
}

#workspaces button.urgent:not(.active) {
    background-color: #3b0764;
    border-color: #f87171;
    color: #fffafc;
}

#custom-activewindow,
#tray,
#clock,
#network,
#custom-docker,
#custom-updates,
#custom-latency,
#custom-battery,
#backlight,
#pulseaudio,
#disk,
#custom-memory,
#cpu {
    padding: 0 5px;
    margin: 2px 1px;
    border-radius: 0;
    border: 1px solid #5b21b6;
    color: #ffffff;
    background-color: #3b0764;
}

#custom-activewindow,
#tray,
#clock,
#network,
#custom-docker,
#custom-updates,
#custom-latency,
#custom-battery,
#backlight,
#pulseaudio,
#disk,
#custom-memory,
#cpu,
#custom-battery.critical:not(.charging):not(.full),
#pulseaudio.muted {
    background-color: #3b0764;
}

#custom-submap {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#custom-submap.active {
    padding: 0 8px;
    margin: 2px 2px;
    border-radius: 0;
    border: 1px solid #8b5cf6;
    background-color: #3b0764;
    color: #ffffff;
    font-weight: bold;
}
