* {
    border: none;
    border-radius: 8px;
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
    font-size: 10px;
    min-height: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #3c3836;
}

#workspaces button {
    padding-left: 6px;
    padding-right: 12px;
    margin: 0 5px;
    border-radius: 8px;
    color: #f9f5d7;
}

#workspaces button.active {
    background-color: #b57614;
    color: #fbf1c7;
}

#custom-activewindow,
#tray,
#clock,
#network,
#custom-docker,
#custom-updates,
#custom-latency,
#battery,
#backlight,
#pulseaudio,
#disk,
#custom-memory,
#cpu {
    padding: 0 6px;
    margin: 0 2px;
    border-radius: 8px;
    border: 1px solid #b57614;
    color: #3c3836;
    background-color: #ebdbb2;
}

#clock               { background-color: #d5c4a1; }
#custom-activewindow { background-color: #d5c4a1; }

#battery.critical:not(.charging):not(.full) {
    background-color: #cc241d;
    color: #fbf1c7;
}
#pulseaudio.muted    { background-color: #d5c4a1; color: #928374; }

#custom-submap {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#custom-submap.active {
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 12px;
    background-color: #cc241d;
    color: #fbf1c7;
    font-weight: bold;
}
